* {
    margin: 0px;
    padding: 0px;
}


img.manchaxd {
    width: 168%;
    position: fixed;
    left: -115%;
    bottom: -182px;
}

img.persona-olvide {
    display: none;
}

.olv-card {
    width: 320px;
    height: 580px;
    z-index: 10;
}

.olv-logo {
    position: fixed;
    left: 10%;
}


/* ESTILOS YAMI */



img.fondo-olvide {
    position: fixed;
    z-index: 1;
}

img.persona-olvide {
    position: absolute;
}

.avisos {
    /*SI*/
    display: flex;
}

.menu-costado {
    /*SI*/
    width: 17%;
    background-color: #022E40;
    height: auto;
}
.menu-costado-fixed{
    margin: 0px;
    padding: 0px;
    position: fixed;
    width: 14.5%;
    margin-top: 10px;
}

header {
    position: fixed;
    width: 100%;
    /* margin: 20; */
    top: 0px;
    z-index: 99;
}
.aca {
    display: block;
    text-decoration: none;
    color: #fff;
    font-family: 'Questrial', sans-serif;
    text-align: center;
}


.cronograma-fixed-btn {
    position: fixed;
    z-index: 99;
    right: -95px;
    bottom: 40px;
    background-color: #022E40;
    font-family: 'Questrial', sans-serif;
    font-size: medium;
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 20px;
    width: 150px;
}

.cronograma-fixed-btn img {
    width: 30px;
    height: 30px;
}


/*
.aca :hover{
    background-color: #4DA1A4;
}
*/

#opciones-general {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: solid 1px white;
}

#opciones-general a {
    padding: 0.25em 0em;
}

#opciones-general div{
    width: 100%;
}

#opciones-general div :hover {
    background-color: #4DA1A4;
    transition: 0.4s;
}

.colorcito {
    color: aliceblue;
}

.title {
    width: 18%;
    color: #fff;
    font-family: 'Questrial', sans-serif;
    position: relative;
    left: 30px;
    top: 15px;
}

.tex {
    font-family: 'Questrial', sans-serif;
    width: 90%;
    color: #fff;
    position: relative;
    left: 30px;
    top: 15px;
}

.usuario {
    text-align: start;
    padding: 0px 62px 0px 67px;
    color: #fff;
}

main {
    height: 700px;
    position: relative;
    /* https://app.haikei.app/ */
}

.tiesa {
    /*SI*/
    width: 20%;
    left: 34px;
    top: 19px;
}

.contene {
    border-bottom: 2px solid #65858C;
    height: 87px;
    display: flex;
    align-items: center;
    gap: 20px;
   padding-left: 50px;
}

.cronograma-menu {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-family: 'Questrial', sans-serif;
}


#migasDePan{
    width: 30%;
    display:flex;
    flex-direction: row;
    margin: 20px 213px;
}
#migasDePan a, #migasDePan p{font-size: 1.5em; font-family: 
    'Questrial', sans-serif;
    color: white;
}
#migasDePan a{text-decoration: none;}
#migasDePan a:hover{text-decoration:underline;}
#migasDePan #link_area{color: #fff;}

.titule {

    color: #fff;
    padding: 5px 0px 0px 50px;
    font-family: 'Questrial', sans-serif;
    color: #fff;
    font-size: 4em;
    margin-left: 160px;
}

.todo {
    width: 100%;
    
}

#todo-foro{
    margin-bottom: 340px;
}

.otra {
    display: flex;
    justify-content: flex-start;
}

img.img {
    position: relative;
    left: 205px;
    top: -93px;
}

.de-prueba {
    display: flex;
}

.ti {
    font-family: 'Questrial', sans-serif;
    color: #fff;
    font-size: 1.75rem;
    position: relative;
    top: 9px;
    left: 30px;
    margin-top: 1em;
}

.title.tex {
    width: 90%;
}

.card-avisos {
    left: 14%;
    position: relative;
    background-color: #022E40;
    width: 1050px;
    height: 250px;
    border-radius: 30px;
    margin: 10px;
}

.card-avisos-gris {
    background-color: #65858C;
    left: 14%;
    position: relative;
    width: 1050px;
    height: 250px;
    border-radius: 30px;
    margin: 10px;
}

.olvide-contra {
    width: 300px;
    border-radius: 10px;
    border: 0px;
    padding: 5px;
}

.btn-olvide {
    /*SI*/
    padding: 8px;
    width: 300px;
    border-radius: 8px;
    background-color: #022E40;
    color: #fff;
    border: none;
}

.texto-olvide {
    /*SI*/
    font-family: 'Questrial', sans-serif;
    padding: 10px 62px 0px 67px;
    text-align: start;
    color: #fff;
}


h1 {
    color: #fff;
    font-size: 55px;
}

.leim {
    /*SI*/

    padding: 35px 0px 20px 0px;
}

.olv-logo {
    /*SI*/
    width: 70px;
    height: 70px;
    left: 44%;
}

.titulo-olvide {
    padding: 0px 0px 0px 70px;
    font-family: 'libra-serif-modern-regular';

}

.sub-olvide {
    font-family: 'Questrial', sans-serif;
    color: #fff;
    font-size: 31px;
}

ul {
    list-style: none;
    border-bottom: 2px solid #65858C;
}

#avisos {
    /*SI*/
    color: #fff;
    padding: 5px 0px 0px 50px;
    font-family: 'Questrial', sans-serif;
    color: #fff;
    font-size: 4em;
    margin-left: 160px;
}


/*INICIO - OLVIDE CONTRASEÑA*/

.nav {
    /*SI*/
    flex-wrap: wrap;
    background-color: #022E40;
    height: 50px;
}

.nav-logo {
    /*SI*/
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.nav-titulo-colegio {
    /*SI*/
    color: white;
    font-family: 'libra-serif-modern-regular';
    font-size: x-large;
    margin-top: 10px;
}

.olv-password {
    /*SI*/
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px 0px 0px 0px;
}

.olv-password img {
    position: absolute;

}

.olv-card {
    /*SI*/
    background-color: #4DA1A4;
    width: 420px;
    height: 550px;
    border-radius: 50px;
}

img.manchaxd {
    left: -30%;
    transform: rotate(166deg);

}

img.persona-olvide {
    width: 20%;
    left: 2%;
    bottom: 0%;
}

/*OLV-PASS - HOME*/

.nav-home {
    /*SI*/
    display: flex;
    justify-content: space-between;
    background-color: #022E40;
    height: 50px;
    gap: 15px;
}

.nav-logotipo {
    /*SI*/
    display: flex;
    width: 50%;
}

.nav-titulo-colegio {
    /*SI*/
    color: white;
    font-family: 'libra-serif-modern-regular';
    font-size: x-large;
    margin-left: 40px;
    margin-bottom: 50px;
    text-align: center;
}

.nav-burger img {
    /*SI*/
    width: 30px;
}

.home-Familia {
    /*SI*/
    display: flex;
    justify-content: end;
    gap: 10px;
    margin: 10px 10px 0px 0px;
}

.home-Familia h2 {
    /*SI*/
    color: white;
    font-family: 'Questrial', sans-serif;
    font-size: medium;
    margin-top: 6px;
}

.home {
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-around;
    height: 650px;
}

.footer-img {

    position: fixed;
    z-index: 4;
    bottom: -430px;
    left: -100px;
    height: 500px;
}

.footer-img-1 {
    position: fixed;
    z-index: 3;
    bottom: -380px;
    left: 0px;
    width: 1500px;
    height: 500px;
}

.footer-img-2 {
    /*SI*/
    position: fixed;
    z-index: 3;
    bottom: -770px;
    right: -1920px;
    width: 2500px;
    height: 1000px;
}

.footer-texto {
    /*SI*/
    position: fixed;
    z-index: 5;
    bottom: 0px;
    left: 35%;
    text-align: center;
    font-family: 'Questrial', sans-serif;
    font-size: small;
    color: white;
}

.main-area-padre {
    /*SI*/
    background-color: #4DA1A4;
    height: auto;
    margin-top: 60px;
}

#ultimo-div{
    margin-bottom: 8em;
}
/* CALENDARIO */

.contenedor-calendario {
    text-align: center;
    margin: 50px 0px;
}

.calendario {
    border-radius: 10px;
    margin-bottom: 55px;
}

.Cronograma-titulos {
    display: flex;
    justify-content: space-between;
    width: 74%;
    text-align: center;
    margin-left: 215px;
}

.Cronograma-titulos h1 {
    color: white;
    font-family: 'Questrial', sans-serif;
}
.div-gris-con-avatar {
    display: flex;
    flex-direction: column;
    background-color: #65858C;
    left: 18%;
    position: relative;
    width: 1050px;
    height: 260px;
    border-radius: 25px;
    margin: 10px;
    top: -36px;
}
img.image-compartida {
    width: 60px;
    height: 60px;
    margin: 20px;
}
.div-debloque-avatar {
    padding: 0;
    margin-left: -31px;
}

.top-less {
    margin-top: -15px;
}

.div-gris-con-avatar-flex {
    display: flex;
}

/* MATERIAS */
#Materias{
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: center;
    margin-left: 210px;
    font-family: 'Questrial', sans-serif;
    color: #fff;
    margin-bottom: 5em;
}
#Materias h2{
    font-size: 4em;
    margin-bottom: 0.3em;
}
#Contenedor-Materias{
    display: flex;
    flex-direction: column;
}
.tarjetas-materias{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #022E40;
    border-radius: 25px;
    height: 4em;
    margin-bottom: 1em;
    font-size: 1.3em;
}
.tarjetas-materias h3{
    width: 30%;
}
.tarjetas-materias :last-child{
    text-align: end;
}
.botones-materias{
    width: 15%;
    display: flex;
    justify-content: space-evenly;
}
.botones-materias img{
    width: 2.2em;
    height: auto;
}
.botones-materias a:first-of-type img{
    width: 3em;
}

.botones-materias a{
    display: flex;
    justify-content: center;
    align-items: center;
}








/* -----------------------RESPONSIVE------------------------------ */









@media screen and (max-width: 47em) {
    body{
       background-color:  #4DA1A4;
    }
    .todo {
        /* display: none; */
    }
    /* SEÑOR MIGAS DE PAN, A VER SI LIMPIA LA MESA */
    #migasDePan{
        width: 100%;
        display:flex;
        flex-direction: row;
        margin: 20px 21px;
    }
    #migasDePan a, #migasDePan p{font-size: 1em; font-family: 
        'Questrial', sans-serif;
        color: white;
    }
    #migasDePan a{text-decoration: none;}
    #migasDePan a:hover{text-decoration:underline;}
    #migasDePan #link_area{color: #fff;}

    .menu-costado {
        /*SI*/
        position: fixed;
        z-index: 99;
        bottom: 0px;
        width: 100%;
        height: 10%;
        background-color: #022E40;
    }
    .menu-costado-fixed{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }
    .contene {
        border-right: 2px solid #65858C;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(50% - 10px);
        /* gap: 20px; */
       padding: 0px;
    }
    .tiesa {
        /*SI*/
        height: 25%;
        width: 25%;
        margin-top: 10px;
    }
    .cronograma-menu {
        text-decoration: none;
        color: #fff;
        font-size: 17px;
        font-family: 'Questrial', sans-serif;
    }
    /* .aca {
        display: block;
        text-decoration: none;
        color: #fff;
        font-family: 'Questrial', sans-serif;
        text-align: center;
    } */
    .aca{
        display: none;
    }
    /* #opciones-general {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom: solid 1px white;
    } */
    #opciones-general {
        display: none;
    }

/* FORO */
.otra{
        position: relative;
        display: flex;
    }
    img.img{
        position: relative;
        top: -140px;
        left: 6px;
        width: 12%;
    }
    .tex{
        top: 2%;
    }
    .card-avisos{
        left: 0%;
        border-radius: 30px;
        margin: 10px;
        height: 350px;
        background-color: #022E40;
    }
    .ti{
        font-family: 'Questrial', sans-serif;
        color: #fff;
        width: 50%;
        font-size: 1.5em;
        margin-top: 1em;
    }
    .titule{
        margin-left: -4%;
    }
    .title{
        width: 60%;
    }
    .div-gris-con-avatar{
        position: relative;
        left: 0;
        width: 99%;
        height: 46%;
        top: -3%;
    }
    img.image-compartida{
        width: 12%;
    }
    p.tex.solito{
        padding: 24px 0px 20px;
        width: 84%;
    }

    .todo {
        width: 100%;
    }
    #todo-foro{
        margin-bottom: 120px;
    }
    
    /* CALENDARIO */

.contenedor-calendario {
    width: 100%;
    margin-top: 5px;
    
}
#warningBox{
    color: #022E40;
}

.calendario {
    width: 100%;
    margin-left: 2.5%;
    border-radius: 10px;
    margin-bottom: 55px;
}

.Cronograma-titulos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin-left: 15px;
}

.Cronograma-titulos h1 {
    color: white;
    font-family: 'Questrial', sans-serif;
    font-size: 1.6em;
}
.cronograma-fixed-btn {
    position: fixed;
    z-index: 99;
    right: -95px;
    bottom: 120px;
    background-color: #022E40;
    font-family: 'Questrial', sans-serif;
    font-size: medium;
    text-decoration: none;
    color: white;
    padding: 8px;
    border-radius: 20px;
    width: 150px;
}
/* MATERIAS */
#Materias{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-left: 1em;
    font-family: 'Questrial', sans-serif;
    color: #fff;
    margin-bottom: 5em;
}
#Materias h2{
    font-size: 2em;
    margin-bottom: 0.3em;
}
#Contenedor-Materias{
    display: flex;
    flex-direction: column;
}
.tarjetas-materias{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #022E40;
    border-radius: 25px;
    height: 100%;
    margin-bottom: 1em;
    font-size: 0.8em;
}
.tarjetas-materias h3{
    width: 30%;
}
.tarjetas-materias :last-child{
    text-align: end;
}
.botones-materias{
    width: 15%;
    display: flex;
    justify-content: space-evenly;
}
.botones-materias img{
    width: 2em;
    height: auto;
}
.botones-materias :first-child{
    width: 2.7em;
}

/* AVISOS */
#avisos {
    /*SI*/
    font-family: 'Questrial', sans-serif;
    font-size: 2em;
    margin-left: -1em;
    color: #fff;
}
.otra {
    position: relative;
    display: flex;
    /* justify-content: flex-start; */
}
.otra img{
    height: 40px;
    width: 40px;
}
img.img {
    position: absolute;
    z-index: 85;
    top: 20;
    left: 40px;
}
.card-avisos {
    left: 0%;
    border-radius: 30px;
    margin: 10px;
    height: 350px;
    background-color: #022E40;
}
.de-prueba {
    /* display: flex;
    flex-direction: row-reverse; */
}
.title {
    display: inline-block;
    color: #fff;
    font-family: 'Questrial', sans-serif;
    left: 84px;
    top: 15px;
    margin-right: 130px;
}
.ti {
    font-family: 'Questrial', sans-serif;
    color: #fff;
    width: 50%;
    font-size: 1.5em;
    margin-top: 1em;
}
.tex {
    font-family: 'Questrial', sans-serif;
    color: #fff;
    top: 15px;
}
#ultimo-div{
    margin-bottom: 25%;
}


}

